
h1 {
  font-size: 2.5em;
  background-color: lightblue;
  border-style: solid;
  text-align: center;
  border-width: thin;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

h4  {
  font-size: 1.5em;
  color: cadetblue;
  font-weight: bold;
}

input {
  font-size: 1.0em;
}
html {background: fixed;}

body {
  padding-left: 50px;
  padding-right: 50px;
  background-color: floralwhite;

}

h3 {
  font-weight: bold;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: SeaGreen;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
