h1 {
  font-size: 2.5em;
  background-color: cadetblue;
  color: white;
  border-style: solid;
  text-align: center;
  border-width: thin;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 20px;

}

h4  {
  font-size: 1.5em;
  color: cadetblue;
  font-weight: bold;
}

h6 {
  font-size: 1.1em;
  color: cadetblue;
  font-weight: bold;
}

input {
  font-size: 1.0em;
}
html {background: fixed;}

body {
  padding-left: 50px;
  padding-right: 50px;
  background-color: floralwhite;

}

h3 {
  font-weight: bold;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: cadetblue;
    border: none;
    color: white;
    font-size: 13.5px;
    text-decoration: none;
    margin: 1px 1px;
    cursor: pointer;
    border-radius: 4px;
}

comment {
  font-style: italic;
}

commentbox{
  background-color: lightgray;

}
