<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%= @recipe.name %></h1>
    <label>Ingredients</label>
    <p><%= @recipe.ingredients %></p>
    <label>Instructions</label>
    <p><%= @recipe.instructions %></p>

    
  </body>
</html>
