<h1> Showing: <%=@user.username%></h1><br><br>
<h2>Real Name: <%=@user.name%></h2>
<h2> Recipes </h1>
  <ul>
    <% @user.recipes.each do |recipe|%>
      <li><%=link_to recipe.name, recipe_path(recipe)%></li>
    <%end%>
  </ul>
