<h1> Showing: <%=@user.username%></h1>
<h2><%=@user.name%></h2>
<h2> Recipes <h1>
  <ul>
    <% @user.recipes.each do |recipe|%>
      <li><%=link_to recipe.name, recipe_path(recipe)%></li>
    <%end%>
  </ul>
<h2> Create a new recipe </h2>
<%= render 'create_recipe' %>
